{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{{ jaxon.css()|raw }}
{{ polr.css()|raw }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ jaxon.js()|raw }}
{{ jaxon.script()|raw }}
{{ polr.js()|raw }}
<script type="text/javascript">
$(document).ready(function() {
    {{ polr.ready()|raw }}
});
</script>
{% endblock %}

{% block sonata_page_content_header %}
{{ parent() }}

<div class="row" style="padding-left: 40px;"><h2>{{ pageTitle }}</h2></div>
{% endblock %}

{% block sonata_admin_content %}
{{ parent() }}

<div style="padding: 5px 20px;">
{{ polr.html()|raw }}
</div>

{% endblock %}
